:root {
  --pink:#cb46e3;
  --yellow:hsl(51, 86%, 75%);
  --turquoise:#57c0f8;
}

* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

header {
  background-color:var(--yellow);  
  min-height: 80px;
  display: block;
}

h1 {
  color:var(--pink);
  display:inline-block;
  position: relative;
  top: 15px;
  padding: 2px 6px 2px 50px;
  background-color:var(--turquoise);
}

ul, li {
  display: inline;
  float: right;
  background-color: var(--yellow);
  margin-right: 15px;
  margin-top: 15px;
}

li {
  margin-left: 15px;
}

  .nav-headings:hover {
    color:var(--turquoise);
  }

img {
  display: block;
  max-height:150px;
  max-width:150px;
  border-radius: 75px;
  position: absolute;
  left: 40px;
  top: 80px;
  z-index: 10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--pink);
}

body {
  background-color: var(--yellow);
}

.page-wrapper {
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: large;
  margin-right: 15px;
  text-align: right;
}

a {
  text-decoration: underline;
  color:var(--pink);
}

#hero-banner {
  display: block;
  position: relative;
  padding-top: 50px;
  height: 100px;
  background-color:var(--turquoise);
}

.hero-heading {
  position: absolute;
  bottom:25px;
  display: block;
  right: 50px;
  background-color:var(--yellow);
  color:var(--pink);
  padding: 2px;
  z-index: 10;
}

/* style for the parent grid container */
.parent-grid-container {  
  display: grid;
  width: 100vw;
  height: 100vh;
  row-gap: 20px;
  column-gap: 10px;
  margin: 20px 30px 30px 0;
  padding-right: 50px;
  grid-template-rows: 20% 1fr 10%;
  grid-template-columns: 16% 80%;
  grid-template-areas:
  "about-heading about-text"
  "work-heading projects-grid-container"
  "contact-heading contact-links";
  } 
  /* need to add in a column gap */

  /* add in code here that applies to all parent grid items, eg. heading, opaque background bit? */
.grid-item {
  background-color: var(--yellow);
}
  
  /* positioning of the grid items */
  .about-heading {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
  border-right: 5px solid var(--pink);
  }
  
  #about-text {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-left: 10px;
  line-height: 1.5;
  }
  
  .work-heading {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: flex-end;
  border-right: 5px solid var(--pink);
  }
  
  /* this is the nested container position */
  /* #projects-grid-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  } */
  /* unsure how this works because class projects-grid-container is held elsewhere?  */
  
  .contact-heading {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-right: 5px solid var(--pink);
  }
  
  #contact-links {
  display: flex;
  justify-content: space-evenly;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  padding-top: 20px;
  }

  #projects-grid-container {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "project-1 project-1"
    "project-1 project-1"
    "project-2 project-3"
    "project-4 project-5";
    }
    
    /* add code in here for properties that you want on all the nested grid items */
    .nested-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 3px solid var(--turquoise);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 5px;
      cursor: pointer;
      text-decoration: none;
      }

/* styles for nested grid headings */
    h4 {
      color:var(--pink);
      height: fit-content;
      width: fit-content;
      padding: 5px;
      font-size: 18px;
      display: block;
    }

    .text {
      background-color:var(--turquoise);
      width: fit-content;
      height: fit-content;
      display: block;
    }

    .text p {
      padding: 0 5px 5px 5px;
      font-size: 14px;
    }
    
    /* Positioning individual project elements within the nested grid */
    .project-1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      background-image: url("../images/project-1.jpeg");
    }
    
    .project-2 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      background-image:url("../images/project-2.jpeg");
    }
    
    .project-3 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      background-image:url("../images/project-3.jpeg");
    }
    
    .project-4 {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
      background-image:url("../images/project-4.jpeg");
    }
    
    .project-5 {
      grid-column: 2 / span 1; 
      grid-row: 4 / span 1;
      background-image:url("../images/project-5.jpeg");
    }