:root {
  --main-accent-color:#F917BC;
  --background-color:white;
  --secondary-accent-color:black;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

header {
  background-color:var(--background-color);  
  min-height: 80px;
  display: block;
}

h1 {
  color:var(--main-accent-color);
  display:inline-block;
  position: relative;
  top: 20px;
  padding: 2px 6px 2px 50px;
  background-color:var(--secondary-accent-color);
}

ul, li {
  display: flex;
  float: right;
  background-color: var(--background-color);
  margin-right: 15px;
  margin-top: 15px;
}

li {
  margin-left: 15px;
  font-size: 17px;
}

/* Phone styles for nav bar */

@media only screen and (max-width: 600px) {
  ul, li {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: left;
  margin: 00px;
  padding: 0px;
  }

  ul {
    margin: 10px;
  }

  h1 {
    padding: 2px 6px 2px 6px;
    float: left;
  }
}

/* Smaller phone style for nav bar */

@media only screen and (max-width: 390px) {
  
  li {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: left;
  margin: 00px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 95%;
  }

  h1 {
    padding: 2px 6px 2px 6px;
    float: left;
    background-color: var(--secondary-accent-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--main-accent-color);
}

body {
  background-color: var(--background-color);
}

.page-wrapper {
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: large;
  margin-right: 15px;
  text-align: right;
}

a {
  text-decoration: underline;
  color:var(--main-accent-color);
}

#hero-banner {
  display: block;
  position: relative;
  padding-top: 50px;
  height: 100px;
  background-color:var(--secondary-accent-color);
}

img {
  position: absolute;
  top: 0px;
  left: 15px;
  max-height:150px;
  max-width:150px;
  border-radius: 75px;
  z-index: 10;
}

.hero-heading {
  position: absolute;
  bottom:25px;
  display: block;
  right: 50px;
  background-color:var(--background-color);
  color:var(--main-accent-color);
  padding: 2px;
  z-index: 10;
}

/* style for the parent grid container */
.parent-grid-container {  
  display: grid;
  width: 100vw;
  height: 100vh;
  row-gap: 20px;
  column-gap: 10px;
  margin: 20px 30px 30px 0;
  padding-right: 50px;
  grid-template-rows: 20% 1fr 10%;
  grid-template-columns: 16% 80%;
  grid-template-areas:
  "about-heading about-text"
  "work-heading projects-grid-container"
  "contact-heading contact-links";
  } 

  /* add in code here that applies to all parent grid items, eg. heading, opaque background bit? */
.grid-item {
  background-color: var(--background-color);
}
  
  /* positioning of the grid items */
  .about-heading {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
  border-right: 5px solid var(--main-accent-color);
  }
  
  #about-text {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-left: 10px;
  line-height: 1.5;
  }
  
  .work-heading {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: flex-end;
  border-right: 5px solid var(--main-accent-color);
  }
  
  .contact-heading {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-right: 5px solid var(--main-accent-color);
  }
  
  #contact-links {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  padding-top: 20px;
  }

  #contact-links a {
    margin-right: 15px;
  }

  a:hover {
      color:var(--secondary-accent-color);
    }

    @media only screen and (max-width: 600px) {
    #contact-links {
      display: flex;
      flex-direction: row;
      padding-top: 0;
    }
    }

  #projects-grid-container {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "project-1 project-1"
    "project-1 project-1"
    "project-2 project-3"
    "project-4 project-5";
    }

    /* Phone styles for main wrapper area */
    @media only screen and (max-width: 600px) {

      .parent-grid-container {  
        display: flex;
        flex-direction: column;
        row-gap: 0;
        height: fit-content;
        } 

      .work-heading, .about-heading, .contact-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: fit-content;
        float: left;
        padding: 5px;
        margin-left: 10px;
        align-items: center;
        border-right: 0;
        border-bottom: 3px solid var(--main-accent-color);
        margin-bottom: 5px;
      }

      /* Phone styles for project grid */
    #projects-grid-container {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-bottom: 5px;
    }

      .nested-item {
        min-height: 100px;
      }

      #about-text {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .heading {
        font-size: 15px;
        padding-bottom: 1px;
      }

      .text {
        font-size: 12px;
      }
    }
    
    /* add code in here for properties that you want on all the nested grid items */
    .nested-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 3px solid var(--main-accent-color);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 5px;
      cursor: pointer;
      text-decoration: none;
      }

      .nested-item:hover {
        filter:brightness(1.2);
        transition: all 0.5s ease-in-out;
      }

/* styles for nested grid headings */
    h4 {
      color:var(--secondary-accent-color);
      height: fit-content;
      width: fit-content;
      padding: 5px;
      font-size: 18px;
      display: block;
    }

    .text {
      background-color:var(--main-accent-color);
      width: fit-content;
      height: fit-content;
      display: block;
    }

    .text p {
      padding: 0 5px 5px 5px;
      font-size: 14px;
      color:var(--secondary-accent-color);
    }
    
    /* Positioning individual project elements within the nested grid */
    .project-1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      background-image: url("../images/CSS.png");
    }
    
    .project-2 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      background-image:url("../images/horiseon.png");
    }
    
    .project-3 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      background-image:url("../images/prework.png");
    }
    
    .project-4 {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
      background-image:url("../images/project-4.jpeg");
    }
    
    .project-5 {
      grid-column: 2 / span 1; 
      grid-row: 4 / span 1;
      background-image:url("../images/project-5.jpeg");
    }

    @media only screen and (max-width: 600px) {
      #hero-banner {
        display: flex;
        flex-direction:column;
      }

      .title {
        font-size: 16px;
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }

      h2 {
        font-size: 20px;
      }

    }

    @media only screen and (max-width: 463px) {
      
      #hero-banner {
        max-height: 80px;
      }

      .hero-heading {
        font-size: 16px;
      }

      img {
        max-width: 80px;
        max-height: 80px;
        display: flex;
      }

    }